:root {
    --primary-color: #292D32;
    --color-secondary: #9197B3;
    --background-color: #F9FBFF;
    --grey-color: #9197B3;
    --accent-color: #5932EA;
}

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1440px;